body {
    padding: 0;
    margin: 0;
    
    /* Add these lines */
    display: flex;
    justify-content: center; /* Centers horizontally */
    align-items: center;   /* Centers vertically */
    height: 100vh;           /* Must have height for vertical centering */
}

#map {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    width: 150vh;
}